---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>

<div class="banner">
    <webring-banner>
      <p>Μέλος του webring της ομάδας <a href="https://cont1nental.netlify.app/%22%3ECont1nental</a> webring</p>
      <a href="https://cont1nental.netlify.app/prev%22%3EΠροηγούμενο</a>
      <a href="https://cont1nental.netlify.app/random%22%3EΤυχαία σελίδα</a>
      <a href="https://cont1nental.netlify.app/next%22%3EΕπόμενο</a>
    </webring-banner>
    <script async src="https://cont1nental.netlify.app/embed.js" charset="utf-8"></script>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>

